@font-face {
    src: url('../fonts/Montserrat.ttf');
    font-family: 'Montserrat';
}
@font-face {
    src: url('../fonts/Montserrat-Bold.ttf');
    font-family: 'Montserrat';
}
@font-face {
    src: url('../fonts/Montserrat-ExtraBold.ttf');
    font-family: 'Montserrat';
}
@font-face {
    src: url('../fonts/OpenSans-Regular.ttf');
    font-family: 'Open Sans';
    font-weight: normal;
}
