@import url("antd/dist/antd.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fonts.scss");
@layer base {
    html {
        font-family: "Montserrat";
    }
}
body {
    color: #273044;
    background-color: #fafafa;
}
.btn {
    @apply px-8 py-4 uppercase bg-main text-white rounded-2xl font-bold text-2xl transition-colors ease-in-out duration-300 hover:bg-second;
}
.btn.to-top {
    @apply p-0 w-[65px] h-[65px] rounded-full  fixed bottom-10 right-10;
}
[lang="ar"] .rtl {
    text-align: right;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span.highlight-header,
    a,
    li {
        font-family: "Tajawal";
    }
}
.rtl * {
    direction: rtl;
}
.ltr {
    text-align: left;
}
.ltr,
.ltr * {
    direction: ltr;
}
@media (min-width: 1024px) {
    .lg\:text-align-inherit {
        text-align: inherit;
    }
}
.page-title {
    @apply m-16 text-center text-5xl font-bold;
}
.question {
    @apply text-2xl  mb-4 font-bold bg-ov-white rounded w-fit p-2 px-4;
}
[lang="en"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p,
    span,
    li,
    label,
    input,
    option,
    textarea {
        font-family: "Poppins";
    }
}

.font-tajawal {
    font-family: "Tajawal";
}

.font-ZenMaruGothic {
    font-family: "ZenMaruGothic" !important;
}
[lang="ar"] {
    .font-ZenMaruGothic {
        font-family: "Tajawal" !important;
    }
}
span.highlight-header {
    font-family: "Tajawal";
    @apply text-main;
}
span.highlight-text {
    @apply text-second;
}
ol {
    li {
        line-height: 1.6;
        @apply text-xl;
    }
}

// small screen navigation
.nav {
    @apply flex flex-col transition-transform gap-6 fixed top-[0px] overflow-y-scroll pt-16 h-screen bg-ov-white p-4 z-50 rounded-b;
    li {
        @apply mx-12;
    }
}

.box-out {
    @apply flex justify-evenly my-12 flex-wrap gap-8;
    .book {
        width: 300px;
        aspect-ratio: 180/255;
        // background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/945546/3433202-d2a1bea8a58cd447.png");
        background-color: rgb(62, 71, 152);
        background-size: 300px 425px;
        background-repeat: no-repeat;
        transition: all 0.3s ease-in-out;
        transform-origin: left center 0px;
        transform-style: preserve-3d;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-backface-visibility: hidden;
        overflow: hidden;
    }
    .book::after {
        content: " ";
        display: block;
        opacity: 0;
        width: 300px;
        height: 425px;
        position: relative;
        left: 8px;
        transition: all 0.3s ease;
    }
    .book::before {
        content: " ";
        z-index: 999;
        display: block;
        width: 20px;
        height: 100px;
        opacity: 0;
        position: absolute;
        top: -12px;
        right: 8px;
        transition: all 0.25s;
        background: url("./imgs/book-tail.png");
        background-size: 16px;
        background-repeat: no-repeat;
    }
    .book:hover {
        cursor: pointer;
        transform: rotateY(-28deg) rotateZ(-2deg) scale(1.02);
        -webkit-backface-visibility: hidden;
        box-shadow: 1px 3px 2px #353d85, 20px 8px 0 #525dc4;
        /* transform: scale(1.02); */
    }
    /* ----- hover ----- */

    .book:hover::after {
        content: " ";
        display: block;
        opacity: 1;
        width: calc(100% - 8px);
        height: 100%;
        position: relative;
        left: 8px;
        background: linear-gradient(
            -180deg,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0) 60%
        );
    }

    .book:hover::before {
        transform: translateY(9px);
        opacity: 1;
    }
}
.move-sections-container {
    // position: relative;
    overflow-x: clip;
    display: grid;
    grid-template-columns: 100% 100%;
    .moving-section {
        width: 100%;
        position: relative;
        // transform: translateX(-50%);
        transition: left 300ms ease-in-out;
    }

    .moving-section.screen-1.current {
        left: 0%;
    }
    .moving-section.screen-1 {
        left: -100%;
    }
    .moving-section.screen-2.current {
        left: -100%;
    }
    .moving-section.screen-2 {
        left: 100%;
    }
}

.slider {
    position: relative;

    .slides {
        position: absolute;
        overflow: clip;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            // z-index: 2;
            background-color: #00000075;
            position: absolute;
            top: 0;
            left: 0;
        }
        img {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
            transition: transform 10000ms ease-in, opacity 1000ms ease-in-out;
        }
        img.active {
            opacity: 1;
            transform: scale(1.5);
        }
        img.fix-position {
            bottom: 0;
        }
    }
}

.table-inputs {
    tr {
        @apply h-16;
    }
}

input[type="file"] {
    width: 222px;
}
.input {
    @apply md:text-xl py-1 px-2 focus-within:outline-second rounded mx-4;
}

// conflict
.ant-btn-primary:not(:hover) {
    background-color: #1890ff !important;
}
.site-form-item-icon {
    color: rgba(0, 0, 0, 0.25);
}
.ant-message .anticon.anticon-loading.anticon-spin {
    top: 0;
    margin-right: unset;
}
.anticon {
    vertical-align: unset;
}
.ant-carousel .slick-dots li button {
    background-color: #27304481;
}
.ant-carousel .slick-dots li.slick-active button {
    background-color: #273044;
}
.meeting-iframe > iframe {
    width: 100%;
    height: unset;
    aspect-ratio: 16 / 9;
}

.book-video-iframe > iframe {
    width: 100%;
    height: unset;
    aspect-ratio: 16 / 9;
}
.resizable-title {
    @apply text-2xl text-center md:text-3xl lg:text-4xl xl:text-5xl mb-4 lg:mb-8  font-bold uppercase;
}
.point-before {
    @apply relative;
}
.point-before::before {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #e93d81;
    border-radius: 100%;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
}

[lang="ar"] .point-before::before {
    right: -30px;
    left: unset;
}

.dots {
    @apply relative;
}
.dots::before {
    content: "";
    position: absolute;
    background-image: url("./imgs/dots.png");
    width: 75px;
    aspect-ratio: 1/1;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(45deg) translate(-50%, 10%);
}

[lang="ar"] .dots::before {
    transform: rotate(45deg) translate(10%, -50%);
}

.rotate-icon svg {
    transition: transform 0.5s ease-in-out;
}

.rotate-icon:hover svg {
    transform: rotate(360deg);
}

[lang="ar"] .custom-modal .ant-modal-body {
    direction: rtl;
}
